header {
    border-bottom:1px solid #9f9f9f;
}

.navigation {
    position: relative;
}

.navigation {
    width: 100%;
    height: 71px;
    background-color: #fff;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #7f7f7f;
}

.header {
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: auto;
    padding: 20px 0;
}

.header .nav_logo img {
    width: 120px;
}

@media screen and (max-width: 768px){
    .header .nav_logo{
       padding-left: 20px;
    }
}

.header .nav_contents {
    display: flex;
    width: 100%;
}


.header .nav_contents .nav_element {
    display: flex;
    padding-left: 40px;
}

.header .nav_contents .nav_item {
    padding-right: 40px;
    cursor: pointer;
}

.header .nav_contents .nav_item h2::after{
    content: 'v';
    color: #7f7f7f;
    margin-left: 5px;
}

.header .nav_contents .online_shop_tab .online_shop {
    color: #dc143c;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .header .online_shop_tab{
       display: none;
    }
}

.header .nav_contents .online_shop_tab .online_shop:hover {
    opacity: .5;
    text-decoration: underline;
}

.header .nav_item .title {
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .header .nav_item{
       display: none;
    }
}

.header .nav_item .title h2:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.5;
}

.header .nav_item p:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.5;
}

.hidden_item li {
    margin-left: 40px;
    font-size: 15px;
}

.hidden_item li:hover {
    text-decoration: underline;
    opacity: .5;
} 

.hidden_item {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 71px;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    background-color: #fff;
    transition: .3s linear;
}

.nav_item .hidden_item.selected {
    padding: 20px 0;
    max-height: 200px;
    width: 100%;
}

.nav_item .hidden_list {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    margin: auto;
}

.header .nav_contents .nav_help ul{
    display: flex;
    font-size: 12px;
    padding-left: 40px;
    min-width: 270px;
}

@media screen and (max-width: 768px){
    .header .nav_contents .nav_help ul{
        position: absolute;
        right: 0;
        margin-right: 30px;
    }
}

.header .nav_contents .nav_help li{
    padding-left: 20px;
}

.st_main .st_top {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.st_main .st_agenda ul {
    display: flex;
    font-size: 12px;
    color: #7f7f7f;
}

.st_main .st_agenda li {
    margin-right: 30px;
    margin-top: 20px;
}

.st_main .st_agenda a {
    position: relative;
}

.st_main .st_agenda a:hover {
    opacity: .5;
}

.st_main .st_agenda a::after {
    position: absolute;
    content: '>';
    bottom: -6px;
    right: -18px;
    font-size: 17px;
}

.st_main .st_heading {
    text-align: center;
    padding:100px 0;
}

.st_main .st_heading .st_title {
    font-size: 30px;
}

.st_main .st_heading .st_subtitle {
    font-size: 14px;
    padding-top: 10px ;
    color: #9f9f9f;
}

.st_main .st_history_category {
    position: relative;
    width: 100%;
    max-width: 680px;
    margin: auto;
    padding-left: 100px;
    padding-bottom: 70px;
}

.st_main .st_history_category::before,
.st_main .st_history_category::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 25px;
    background-color: #9f9f9f;
}

.st_main .st_history_category::before {
    top: 0;
    left: 10%;
}

.st_main .st_history_category::after {
    top: 0;
    right: 8%;
}

.st_main .st_history_category ul {
    display: flex;
    font-size: 18px;
}

.st_main .st_history_category ul::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 25px;
    top: 0;
    right: 52%;
    background-color: #9f9f9f;
}

.st_main .st_history_category p{
    position: relative;
}

.st_main .st_history_category p:hover{
    text-decoration: underline;
    opacity: .5;
}

.st_main .st_history_category p::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: 30%;
    right: -25px;
    border-right: solid 1px #333;
    border-top: solid 1px #333;
    transform: rotate(135deg);
}

.st_main .st_history_category li {
    padding-right: 100px;
}

.st_history .history_nav {
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.st_history .products_button  {
    width: 100%;
    padding: 13px 30px;
    text-align: end;
    color: #7f7f7f;
    background-color: #fff;
    border-top:1px solid #7f7f7f;
    border-bottom:1px solid #7f7f7f;
}

.st_history .products_button.active {
    background-color: #7f7f7f;
    color: #fff;
}

.st_history .products_button:hover {
    opacity: .7;
}

.scroll-to {
    transition: all 0.3s ease-in-out;
  }

.st_history .company_button  {
    width: 100%;
    padding: 13px 30px;
    color: #7f7f7f;
    background-color: #fff;
    border-top:1px solid #7f7f7f;
    border-bottom:1px solid #7f7f7f;
}

.st_history .company_button.active {
    background-color: #7f7f7f;
    color: #fff;
}

.st_history .company_button:hover {
    opacity: .7;
}

.js_tab_item  {
    display: none;
}

.js_tab_item.active {
    display:block;
}


.company_history .company_1920s .history_contents_1920s {
    width: 100%;
    height: 900px;
    position: relative;
}

@media screen and (max-width: 768px){
    .company_history .company_1920s .history_contents_1920s {
       height: 600px;
    }
}


.company_history .company_1920s .history_contents_1920s .background_image {
    background-image: url("https://www.hario.com/theme-images/about/history/row01_img01_pc.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 768px){
    .company_history .company_1920s .history_contents_1920s .background_image {
       height: 400px;
       width: 100%;
    }
}

.history_contents_1920s .heading {
    position: absolute;
    top: 42%;
    right: 75%;
    font-size: 75px;
    color: #7f7f7f;
    opacity: .8;
}

@media screen and (max-width: 768px){
    .company_history .company_1920s .heading {
       top: 68%;
       font-size: 40px;
       left: 2%;
    }
}

.history_contents_1920s .contents_item {
    position: absolute;
    top: 60%;
    right: 60%;
    font-size: 20px;
    opacity: .8;
}

@media screen and (max-width: 768px){
    .company_history .company_1920s .contents_item {
       top: 78%;
       left: 3%;
       font-size: 13px;
       line-height: 25px;
       width: 100%;
    }
}

.history_contents_1920s .contents_item .contents_text {
    padding-left: 20px;
    padding-top: 10px;
}

.company_1940s {
    display: flex;
    width: 100%;
    height: 900px;
}

@media screen and (max-width: 768px){
    .company_1940s {
        flex-direction: column;
        height: 700px;
    }
}

.company_1940s .history_contents_image {
    background-image: url("https://www.hario.com/theme-images/about/history/row01_img02.jpg");
    width: calc(100%/2);
    background-size: cover;
    background-position: center;
    height: 900px;
}

@media screen and (max-width: 768px){
    .company_1940s .history_contents_image {
       width: 100%;
       height: 400px;
    }
}

.history_contents_1940s .heading {
    font-size: 75px;
    color: #7f7f7f;
    opacity: .8;
    padding: 200px 100px 0 100px;
}

@media screen and (max-width: 768px){
    .history_contents_1940s .heading {
       padding: 20px 20px 0px 20px;
       font-size: 40px;
    }
}

.history_contents_1940s .contents_item {
    padding: 50px 100px;
    font-size: 20px;
    opacity: .8;
    line-height: 35px;
}

@media screen and (max-width: 768px){
    .history_contents_1940s .contents_item {
       padding: 0 20px 20px 20px;
       font-size: 13px;
       line-height: 25px;
    }
}

.history_contents_1940s .contents_item .title {
    padding-top: 20px;
}

@media screen and (max-width: 768px){
    .history_contents_1940s .contents_item .title {
       padding-top: 5px;
    }
}

.history_contents_1940s .contents_item .contents_text {
    padding-left: 20px;
}

.company_history .company_1950s .history_contents_1950s {
    position: relative;
    width: 100%;
    height: 900px;
}

@media screen and (max-width: 768px){
    .company_history .company_1950s .history_contents_1950s {
       height: 700px;
    }
}

.company_history .company_1950s .background_image {
    background-image: url("https://www.hario.com/theme-images/about/history/row01_img03.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}

@media screen and (max-width: 768px){
    .company_history .company_1950s .background_image {
        height: 400px;
    }
}

.history_contents_1950s .heading {
    position: absolute;
    top: 22%;
    left: 55%;
    font-size: 75px;
    color: #fff;
}

@media screen and (max-width: 768px){
    .company_history .history_contents_1950s .heading {
        color: #7f7f7f;
        font-size: 40px;
        top: 60%;
        left: 2%;
    }
}

.history_contents_1950s .contents_item {
    position: absolute;
    top: 50%;
    left: 55%;
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width: 768px){
    .company_history .history_contents_1950s .contents_item {
        color: #000;
        font-size: 13px;
        top: 70%;
        left: 3%;
    }
}

.history_contents_1950s .contents_item .title {
    padding-top: 20px;
}

@media screen and (max-width: 768px){
    .company_history .contents_item .title {
        padding-top: 10px;
    }
}

.history_contents_1950s .contents_item .contents_text {
    padding-left: 20px;
    line-height: 35px;
}

@media screen and (max-width: 768px){
    .history_contents_1950s .contents_item .contents_text {
        line-height: 25px;
    }
}

.company_1960s {
    display: flex;
    width: 100%;
    height: 900px;
}

@media screen and (max-width: 768px){
    .company_1960s {
        flex-direction: column;
        height: 700px;
    }
}

.company_1960s .history_contents_1960s {
    width: calc(100%/2);
}

@media screen and (max-width: 768px){
    .company_1960s .history_contents_1960s {
       width: 100%;
       order: 2;
    }
}

.company_1960s .history_contents_image {
    background-image: url("https://www.hario.com/theme-images/about/history/row01_img04_sp.jpg");
    width: calc(100%/2);
    background-size: cover;
    background-position: center;
    height: 900px;
    order: 2;
}

@media screen and (max-width: 768px){
    .company_1960s .history_contents_image {
       width: 100%;
       height: 400px;
       order: 1;
    }
}

.history_contents_1960s .heading {
    font-size: 75px;
    color: #7f7f7f;
    opacity: .8;
    padding: 200px 100px 0 100px;
}

@media screen and (max-width: 768px){
    .history_contents_1960s .heading {
       padding: 20px 20px 0px 20px;
       font-size: 40px;
    }
}

.history_contents_1960s .contents_item {
    padding: 50px 100px;
    font-size: 20px;
    opacity: .8;
    line-height: 35px;
}

@media screen and (max-width: 768px){
    .history_contents_1960s .contents_item {
       padding: 0 20px 20px 20px;
       font-size: 13px;
       line-height: 25px;
    }
}

.history_contents_1960s .contents_item .title {
    padding-top: 20px;
}

@media screen and (max-width: 768px){
    .history_contents_1960s .contents_item .title {
       padding-top: 5px;
    }
}

.history_contents_1960s .contents_item .contents_text {
    padding-left: 20px;
}

.company_history .company_1970s .history_contents_1970s {
    position: relative;
    width: 100%;
    height: 900px;
}

@media screen and (max-width: 768px){
    .company_history .company_1970s .history_contents_1970s {
       height: 750px;
    }
}

.company_history .company_1970s .background_image {
    background-image: url("https://www.hario.com/theme-images/about/history/row01_img03.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}

@media screen and (max-width: 768px){
    .company_history .company_1970s .background_image {
        height: 400px;
    }
}

.history_contents_1970s .heading {
    position: absolute;
    top: 22%;
    right: 72%;
    font-size: 75px;
    color: #fff;
}

@media screen and (max-width: 768px){
    .company_history .history_contents_1970s .heading {
        color: #7f7f7f;
        font-size: 40px;
        top: 60%;
        left: 2%;
    }
}

.history_contents_1970s .contents_item {
    position: absolute;
    top: 43%;
    right: 58%;
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width: 768px){
    .company_history .history_contents_1970s .contents_item {
        color: #000;
        font-size: 13px;
        top: 70%;
        left: 3%;
        width: 100%;
    }
}

.history_contents_1970s .contents_item .title {
    padding-top: 20px;
}

@media screen and (max-width: 768px){
    .company_history .contents_item .title {
        padding-top: 10px;
    }
}

.history_contents_1970s .contents_item .contents_text {
    padding-left: 20px;
    line-height: 35px;
}

@media screen and (max-width: 768px){
    .history_contents_1970s .contents_item .contents_text {
        line-height: 25px;
    }
}

.company_1980s {
    display: flex;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px){
    .company_1980s {
        flex-direction: column;
        height: 700px;
    }
}

.company_1980s .history_contents_image {
    background-image: url("https://www.hario.com/theme-images/about/history/row01_img06_sp.jpg");
    width: calc(100%/2);
    background-size: cover;
    background-position: center;
    height: 900px;
}

@media screen and (max-width: 768px){
    .company_1980s .history_contents_image {
       width: 100%;
       height: 400px;
    }
}

.history_contents_1980s .heading {
    font-size: 75px;
    color: #7f7f7f;
    opacity: .8;
    padding: 200px 100px 0 100px;
}

@media screen and (max-width: 768px){
    .history_contents_1980s .heading {
       padding: 20px 20px 0px 20px;
       font-size: 40px;
    }
}

.history_contents_1980s .contents_item {
    padding: 50px 100px;
    font-size: 20px;
    opacity: .8;
    line-height: 35px;
}

@media screen and (max-width: 768px){
    .history_contents_1980s .contents_item {
       padding: 0 20px 20px 20px;
       font-size: 13px;
       line-height: 25px;
    }
}

.history_contents_1980s .contents_item .title {
    padding-top: 20px;
}

@media screen and (max-width: 768px){
    .history_contents_1980s .contents_item .title {
       padding-top: 5px;
    }
}

.history_contents_1980s .contents_item .contents_text {
    padding-left: 20px;
}

.company_history .company_1990s .history_contents_1990s {
    width: 100%;
    height: auto;
    position: relative;
}

@media screen and (max-width: 768px){
    .company_history .company_1990s .history_contents_1990s  {
       height: 900px;
    }
}

.company_history .company_1990s .history_contents_1990s .background_image {
    background-image: url("https://www.hario.com/theme-images/about/history/row01_img07_pc.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}


@media screen and (max-width: 768px){
    .company_history .company_1990s .history_contents_1990s .background_image {
       height: 400px;
       width: 100%;
    }
}

.history_contents_1990s .heading {
    position: absolute;
    top: 28%;
    right: 75%;
    font-size: 75px;
    color: #fff;
    opacity: .8;
}

@media screen and (max-width: 768px){
    .company_history .company_1990s .heading {
       top: 48%;
       font-size: 40px;
       left: 2%;
       color: #7f7f7f;
    }
}

.history_contents_1990s .contents_item {
    position: absolute;
    top: 45%;
    right: 60%;
    font-size: 18px;
    line-height: 35px;
    opacity: .8;
    color: #fff;
}

.history_contents_1990s .contents_item .contents_text {
    padding-left: 20px;
}


@media screen and (max-width: 768px){
    .company_history .company_1990s .contents_item {
       top: 55%;
       left: 3%;
       font-size: 13px;
       line-height: 25px;
       color: #000;
       width: 100%;
    }
}

.company_2000s {
    display: flex;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px){
    .company_2000s {
        flex-direction: column;
        height: 700px;
    }
}

.company_2000s .history_contents_image {
    background-image: url("https://www.hario.com/theme-images/about/history/row01_img08_sp.jpg");
    width: calc(100%/2);
    background-size: cover;
    background-position: center;
    height: 900px;
}

@media screen and (max-width: 768px){
    .company_2000s .history_contents_image {
       width: 100%;
       height: 400px;
    }
}

.history_contents_2000s .heading {
    font-size: 75px;
    color: #7f7f7f;
    opacity: .8;
    padding: 200px 100px 0 100px;
}

@media screen and (max-width: 768px){
    .history_contents_2000s .heading {
       padding: 20px 20px 0px 20px;
       font-size: 40px;
    }
}

.history_contents_2000s .contents_item {
    padding: 50px 100px;
    font-size: 20px;
    opacity: .8;
    line-height: 35px;
}

@media screen and (max-width: 768px){
    .history_contents_2000s .contents_item {
       padding: 0 20px 20px 20px;
       font-size: 13px;
       line-height: 25px;
    }
}

.history_contents_2000s .contents_item .title {
    padding-top: 20px;
}

@media screen and (max-width: 768px){
    .history_contents_2000s .contents_item .title {
       padding-top: 5px;
    }
}

.history_contents_2000s .contents_item .contents_text {
    padding-left: 20px;
}

.company_2010s {
    display: flex;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px){
    .company_2010s {
        flex-direction: column;
        height: auto;
    }
}

.company_2010s .history_contents_2010s {
    width: calc(100%/2);
}

@media screen and (max-width: 768px){
    .company_2010s .history_contents_2010s {
       width: 100%;
       order: 2;
    }
}

.company_2010s .history_contents_image {
    background-image: url("https://www.hario.com/theme-images/about/history/row01_img09_sp.jpg");
    width: calc(100%/2);
    background-size: cover;
    background-position: center;
    height: 900px;
    order: 2;
}

@media screen and (max-width: 768px){
    .company_2010s .history_contents_image {
       width: 100%;
       height: 400px;
       order: 1;
    }
}

.history_contents_2010s .heading {
    font-size: 75px;
    color: #7f7f7f;
    opacity: .8;
    padding: 200px 100px 0 100px;
}

@media screen and (max-width: 768px){
    .history_contents_2010s .heading {
       padding: 20px 20px 0px 20px;
       font-size: 40px;
    }
}

.history_contents_2010s .contents_item {
    padding: 50px 100px;
    font-size: 17px;
    opacity: .8;
    line-height: 35px;
    
}

@media screen and (max-width: 768px){
    .history_contents_2010s .contents_item {
       padding: 0 20px 20px 20px;
       font-size: 13px;
       line-height: 25px;
    }
}

.history_contents_2010s .contents_item .title {
    padding-top: 20px;
}

@media screen and (max-width: 768px){
    .history_contents_2010s .contents_item .title {
       padding-top: 5px;
    }
}

.history_contents_2010s .contents_item .contents_text {
    padding-left: 20px;
}

.history_contents_2010s .about_factory {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-left: 150px;
    margin-top: 50px;
}
@media screen and (max-width: 768px){
    .history_contents_2010s .about_factory {
       margin: auto;
       margin-top: 50px;
       margin-bottom: 30px;
       max-width: 220px;
    }
}

.history_contents_2010s .about_factory p {
    position: relative;
    padding: 5px 15px;
    border: 1px solid #000;
}

.history_contents_2010s .about_factory p::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 40%;
    right: 20px;
    border-right: solid 1px #333;
    border-top: solid 1px #333;
    transform: rotate(45deg);
}

.hario_history_movie {
    width: 100%;
}

.hario_history_movie .heading {
    width: 100%;
    height: auto;
    text-align: center;
}

.hario_history_movie .heading h3 {
    padding: 10px 0;
    background-color: #7f7f7f;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
}

.history_youtube {
    position: relative;
    padding-bottom: 500px;
    max-width: 750px;
    margin: auto;
}
  
.history_youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
}

.products_history_contents {
    width: 100%;
}

.products_history_contents .products_history_item {
    width: 100%;
    height: 900px;
    display: flex;
}

@media screen and (max-width: 768px){
    .products_history_contents .products_history_item {
       flex-direction: column;
       height: auto;
    }
}

.products_history_articles_left {
    padding: 250px 50px 250px 200px;
    width: 100%;
    max-width: calc(100%/2);
}

@media screen and (max-width: 768px){
    .products_history_articles_left {
       max-width: 100%;
       padding: 30px;
    }
}

.products_history_articles_left .heading {
    font-size: 63px;
    color: #7f7f7f;
}

@media screen and (max-width: 768px){
    .products_history_articles_left .heading{
       font-size: 40px;
    }
}

.products_history_articles_left .contents_text {
    width: 100%;
    max-width: 470px;
    padding-top: 70px;
    line-height: 35px;
    font-size: 20px;
}

@media screen and (max-width: 768px){
    .products_history_articles_left .contents_text{
       max-width: 100%;
       padding: 10px;
       font-size: 11px;
       line-height: 25px;
    }
}

.products_history_articles_right {
    padding: 250px 250px 50px 200px;
    width: 100%;
    max-width: calc(100%/2);
}

@media screen and (max-width: 768px){
    .products_history_articles_right {
        max-width: 100%;
        padding: 30px;
    }
}

.products_history_articles_right .heading {
    font-size: 63px;
    color: #7f7f7f;
}

@media screen and (max-width: 768px){
    .products_history_articles_right .heading{
       font-size: 40px;
    }
}

.products_history_articles_right .contents_text {
    width: 100%;
    max-width: 470px;
    padding-top: 70px;
    line-height: 35px;
    font-size: 20px;
}

@media screen and (max-width: 768px){
    .products_history_articles_right .contents_text{
       max-width: 100%;
       padding: 10px;
       font-size: 11px;
       line-height: 25px;
    }
}

.products_history_item .products_history_01_images {
    width: 100%;
    height: auto;
    max-height: 900px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.products_history_item .history_topics_01 img{
    width: 100%;
}


@media screen and (max-width: 768px){
    .grid_item {
       object-fit: cover;
    }
}

.products_history_item .grid_item:hover {
    opacity: .5;
    scale: 105%;
}

.grid_item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/3;
}

.grid_item:nth-child(2) {
    padding-top: 5px;
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid_item:nth-child(3) {
    padding-top: 5px;
    grid-row: 2/3;
    grid-column: 2/3;
}

.history_topics_02 {
    width: 100%;
}

@media screen and (max-width: 768px){
    .history_topics_02 {
       order: 2;
    }
}

.products_history_02_images img {
    height: 445px;
    width: 100%;
}

@media screen and (max-width: 768px){
    .products_history_02_images img {
       height: 350px;
       object-fit: cover;
    }
}

.products_history_02_images li:hover {
    opacity: .5;
}

.history_topics_03 {
    width: 100%;
}

.products_history_item .products_history_03_images {
    width: 100%;
    height: auto;
    max-height: 900px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px;
}

.products_history_item .history_topics_03 img{
    width: 100%;
}

.products_history_item .products_history_03_images .grid_item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/3;
}

.products_history_item .products_history_03_images .grid_item:nth-child(2) {
    padding-top: 5px;
    grid-row: 2/3;
    grid-column: 1/3;
}

.products_history_item .products_history_03_images .grid_item:nth-child(3) {
    padding-top: 5px;
    grid-row: 3/4;
    grid-column: 1/2;
}

.history_topics_04 {
    width: 100%;
}

@media screen and (max-width: 768px){
    .history_topics_04 {
       order: 2;
    }
}

.products_history_item .products_history_04_images {
    width: 100%;
    height: auto;
    max-height: 900px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 300px 300px 300px;
}

.products_history_item .history_topics_04 img{
    width: 100%;
}

.products_history_item .products_history_04_images .grid_item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
}

.products_history_item .products_history_04_images .grid_item:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.products_history_item .products_history_04_images .grid_item:nth-child(3) {
    grid-row: 1/2;
    grid-column: 3/4;
}

.products_history_item .products_history_04_images .grid_item:nth-child(7) {
    grid-row: 3/4;
    grid-column: 1/3;
}

.history_topics_05 {
    width: 100%;
}

.products_history_item .products_history_05_images {
    width: 100%;
    height: auto;
    max-height: 900px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 225px 225px 225px 225px;
}

.products_history_item .history_topics_05 img{
    width: 100%;
    object-fit: cover;
}

.products_history_item .history_topics_05 img:hover {
    opacity: .5;
}

.products_history_item .products_history_05_images .grid_item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.products_history_item .products_history_05_images .grid_item:nth-child(2) {
    grid-row: 2/3;
    grid-column: 2/3;
}

.products_history_item .products_history_05_images .grid_item:nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/2;
}

@media screen and (max-width: 768px){
    .products_history_item .products_history_05_images .grid_item:nth-child(3) {
       grid-row: 1/4;
    }
}

.products_history_item .products_history_05_images .grid_item:nth-child(4) {
    grid-row: 4/5;
    grid-column: 1/2;
}

.products_history_item .products_history_05_images .grid_item:nth-child(5) {
    grid-row: 3/5;
    grid-column: 2/3;
}

.history_topics_06 {
    width: 100%;
}

@media screen and (max-width: 768px){
    .history_topics_06 {
       order: 2;
    }
}

.products_history_item .products_history_06_images {
    width: 100%;
    height: auto;
    max-height: 900px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 225px 225px 450px
}

.products_history_item .history_topics_06 img{
    width: 100%;
    object-fit: cover;
}

.products_history_item .history_topics_06 img:hover {
    opacity: .5;
}

.products_history_item .products_history_06_images .grid_item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.products_history_item .products_history_06_images .grid_item:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
}

@media screen and (max-width: 768px){
    .products_history_item .products_history_06_images .grid_item:nth-child(2) {
        grid-row: 1/3;
    }
}

.products_history_item .products_history_06_images .grid_item:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}

.products_history_item .products_history_06_images .grid_item:nth-child(4) {
    grid-row: 3/4;
    grid-column: 1/3;
}

.history_topics_07 {
    width: 100%;
}

.products_history_item .products_history_07_images {
    width: 100%;
    height: auto;
    max-height: 900px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 180px 180px 180px 180px 180px;
}

.products_history_item .history_topics_07 img{
    width: 100%;
    object-fit: cover;
}

.products_history_item .history_topics_07 img:hover {
    opacity: .5;
}

.products_history_item .products_history_07_images .grid_item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
}

.products_history_item .products_history_07_images .grid_item:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.products_history_item .products_history_07_images .grid_item:nth-child(3) {
    grid-row: 1/2;
    grid-column: 3/5;
}

.products_history_item .products_history_07_images .grid_item:nth-child(4) {
    grid-row: 2/4;
    grid-column: 1/3;
}

.products_history_item .products_history_07_images .grid_item:nth-child(6) {
    grid-row: 3/4;
    grid-column: 3/4;
}

.products_history_item .products_history_07_images .grid_item:nth-child(7) {
    grid-row: 2/4;
    grid-column: 4/5;
}

.products_history_item .products_history_07_images .grid_item:nth-child(11) {
    grid-row: 4/6;
    grid-column: 4/5;
}

.history_topics_08 {
    width: 100%;
}

.products_history_item .products_history_08_images {
    width: 100%;
    height: auto;
    max-height: 900px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 180px 180px 180px 180px 180px;
}

.products_history_item .history_topics_08 img{
    width: 100%;
    object-fit: cover;
}

.products_history_item .history_topics_08 img:hover {
    opacity: .5;
}

.products_history_item .products_history_08_images .grid_item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
}

.products_history_item .products_history_08_images .grid_item:nth-child(19) {
    grid-row: 5/6;
    grid-column: 3/5;
}

.history_topics_09 {
    width: 100%;
}

@media screen and (max-width: 768px){
    .history_topics_08 {
        order: 2;
    }
}

.products_history_item .products_history_09_images {
    width: 100%;
    height: auto;
    max-height: 900px;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 150px 350px 400px;
}

.products_history_item .history_topics_09 img{
    width: 100%;
    object-fit: cover;
}

.products_history_item .products_history_09_images .grid_item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/3;
}

.products_history_item .products_history_09_images .grid_item:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/5;
}

.products_history_item .products_history_09_images .grid_item:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/2;
}

.products_history_item .products_history_09_images .grid_item:nth-child(6) {
    grid-row: 3/4;
    grid-column: 1/5;
}

footer {
    color: #000;
    background-color:rgba(300, 200, 176, 0.2);
    margin-top:100px;
}

.footer {
    width: 100%;
    margin: auto;
    padding-top: 120px;
}

@media screen and (max-width:768px){
    .footer {
        padding-top: 0;
    }
}

.footer .heading {
    text-align: center;
    width: 100%;
    height: auto;
}

@media screen and (max-width:768px){
    .footer .heading{
        display: none;
    }
}

.footer .heading img {
    width: 100%;
    max-width: 130px;
}

.footer .foot_contents {
    display: flex;
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: auto;
    padding-top: 50px;
}


@media screen and (max-width: 768px){
    .footer .foot_contents {
        flex-direction: column;
        width: 100%;
        max-width: 768px;
        margin: 50px 0;
        padding: 0;
        border-top:3px solid #fff ;
    }
}

.footer .foot_contents .contents_item {
    width: 100%;
    padding-left: 20px;
    max-width: 250px;
}

@media screen and (max-width: 768px){
    .footer .foot_contents .contents_item{
        width: 100%;
        padding: 0;
        max-width: 768px;
    }
}

.footer .foot_contents .title {
    position: relative;
}

@media screen and (max-width: 768px){
    .footer .foot_contents .title {
        padding: 15px;
        border-bottom: 3px solid#fff;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_title::before,
    .footer .foot_contents .js_box_title::after{
        position: absolute;
        content: '';
        width: 13px;
        height: 2px;
        background-color: #333;
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_title::before {
        top: 50%;
        right:5%;
        transform: rotate(0deg);
        transition: .5s;
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_title::after {
        top: 50%;
        right: 5%;
        transform: rotate(90deg);
        transition: .5s;
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_title.active::before {
        top: 50%;
        right: 5%;
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_title.active::after {
        top: 50%;
        right: 5%;
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 768px){
    .footer .title::after {
        position: absolute;
        content: '>';
        font-size: 20px;
        top: 28%;
        right:5%;
    }
}


.footer .foot_contents .title:hover {
    opacity: .5;
}

.footer .contents_item #information {
    padding-left: 50px;
}

@media screen and (max-width: 768px){
    .footer .contents_item #information {
        padding-left: 0px;
    }
}

.footer .foot_contents .list {
    padding: 10px;
}

@media screen and (max-width: 768px){
    .footer .foot_contents .list {
        max-height: 0;
        overflow: hidden;
        transition: .3s linear;
        background-color: #fff;
        padding: 0;
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_list.active {
        max-height: 400px;
        opacity: 1;    
        transition: .5s linear;
    }
}

.footer .foot_contents .list li {
    list-style: square;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    .footer .foot_contents .list li{
        list-style: none;
        padding: 5px 25px;
        border-bottom: 3px solid #f5f5dc;
        font-size: 13px;
    }
}

.footer .foot_contents .list .no_mark {
    list-style: none;
    position: relative;
    padding-top: 5px;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    footer .foot_contents .list .no_mark{
        padding-top: 0;
    }
}

footer .foot_contents .list li:hover {
    opacity: .5;
}

footer .foot_contents .list p:hover {
    opacity: .5;
}

footer .foot_contents .list p::before {
    content: ">";
    position: absolute;
    left: -13%;
}

.footer .foot_contents .articles ul {
    padding-top: 10px;
    line-height: 35px;
}

.footer .contents_item .contact #cafe {
    display: none;
}

@media screen and (max-width: 768px){
    .footer .contents_item .contact #cafe{
        display: block;
    }
}

.footer .contents_item .contact li:hover {
    opacity: .5;
}

@media screen and (max-width: 768px){
    .footer .contents_item .contact li{
        position: relative;
        width: 100%;
        max-width: 768px;
        padding: 15px 15px;
        border-bottom:3px solid #fff ;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px){
    .footer .contents_item .contact li::after{
        position: absolute;
        content: '>';
        top: 28%;
        right: 5%;
        font-size:  20px ;
    }
}

@media screen and (max-width: 768px){
    .footer .contents_item .contact #online_shop{
        color: #dc143c;
    }
}

.footer .service {
    width: 100%;
    max-width: 280px;
    height: auto;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer .sns ul {
    display: flex;
}

@media screen and (max-width: 768px){
    .footer .sns{
        margin-left: 70px;
    }
}

.footer .sns li img{
    width: 100%;
    max-width: 35px;
    height: auto;
    margin-left: 7px;
    border-radius: 50%;
}

.footer .sns li img:hover{
    opacity: .5;
}
.footer .cafe {
    margin-top: 5px;
}

@media screen and (max-width: 768px){
    .footer .cafe{
        display: none;
    }
}

.footer .cafe:hover {
    text-decoration: underline;
    opacity: .5;
}

.footer .policy_contents {
    position: relative;
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.footer .policy_contents .site-policy p::after {
    content: "";
    border-right:1px solid #000 ;
    margin-left: 25px;
}

.footer .policy_contents p:hover {
    text-decoration: underline;
    opacity: .5;
}

.footer .copy_right p{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 12px;
    color: #9f9f9f;
}