.background_image {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url("https://www.hario.com/product/new/HARIO%20outdoor_newproducts.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background_image .contents {
    font-size: 18px;
    position: absolute;
    top: 92%;
    left: 45%;
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    color: #fff;
}

.background_image .contents .scroll::after {
    display: block;
    content: 'V';
    color: #fff;
    text-align: center;
}

.background_image .contents .play::after {
    display: block;
    content: '';
    width: 115px;
    margin-top: 5px;
    border: #fff solid 0.1px;
}

header {
    border-bottom:1px solid #9f9f9f;
}

.navigation {
    position: relative;
}

.navigation.fixed {
    width: 100%;
    height: 71px;
    background-color: #fff;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #7f7f7f;
}

.header {
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: auto;
    padding: 20px 0;
}

.header .nav_logo img {
    width: 120px;
}

@media screen and (max-width: 768px){
    .header .nav_logo{
       padding-left: 20px;
    }
}

.header .nav_contents {
    display: flex;
    width: 100%;
}


.header .nav_contents .nav_element {
    display: flex;
    padding-left: 40px;
}

.header .nav_contents .nav_item {
    padding-right: 40px;
    cursor: pointer;
}

.header .nav_contents .nav_item h2::after{
    content: 'v';
    color: #7f7f7f;
    margin-left: 5px;
}

.header .nav_contents .online_shop_tab .online_shop {
    color: #dc143c;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .header .online_shop_tab{
       display: none;
    }
}

.header .nav_contents .online_shop_tab .online_shop:hover {
    opacity: .5;
    text-decoration: underline;
}

.header .nav_item .title {
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .header .nav_item{
       display: none;
    }
}

.header .nav_item .title h2:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.5;
}

.header .nav_item p:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.5;
}

.hidden_item li {
    margin-left: 40px;
    font-size: 15px;
}

.hidden_item li:hover {
    text-decoration: underline;
    opacity: .5;
} 

.hidden_item {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 71px;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    background-color: #fff;
    transition: .5s linear;
}

.nav_item .hidden_item.selected {
    padding: 20px 0;
    max-height: 200px;
    width: 100%;
}

.nav_item .hidden_list {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    margin: auto;
}

.header .nav_contents .nav_help ul{
    display: flex;
    font-size: 12px;
    padding-left: 40px;
    min-width: 270px;
}

@media screen and (max-width: 768px){
    .header .nav_contents .nav_help ul{
        position: absolute;
        right: 0;
        margin-right: 30px;
    }
}

.header .nav_contents .nav_help li{
    padding-left: 20px;
}

.news {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 120px;
    border-bottom: 1px solid #7f7f7f;
}

.news .news_heading {
    font-size: 30px;
    text-align: center;
}

.news .sarch_area {
    margin-bottom: 40px;
}

.news .sarch_area ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
}

.news .sarch_area li {
    margin: 0 30px;
    font-size: 15px;
}

.news .sarch_area li:hover {
    opacity: .5;
}

.news .sarch_area #js_all_button {
    border: 2px solid #9f9f9f;
    padding: 0 30px;
    color: #7f7f7f;
}

.news .sarch_area #js_all_button.clicked {
    background-color: #7f7f7f;
    color: #fff;
}

.news .sarch_area #js_news_button {
    border: 2px solid #87ceeb;
    padding: 0 30px;
    color: #87ceeb;
}

.news .sarch_area #js_news_button.clicked {
    background-color: #87ceeb;
    color: #fff;
}

.news .sarch_area #js_pickup_button {
    border: 2px solid #900090;
    padding: 0 30px;
    color: #900090;
}

.news .articles {
    display: flex;
    position: relative;
    padding: 20px 0;
    border-top:solid 1px #7f7f7f;
}

@media screen and (max-width: 768px){
    .news .articles {
        display: block;
    }
}

.news .topics {
    display: flex;
    width: 100%;
    max-width: 300px;
}

.news .category {
    margin-left: 20px;
    width: 100%;
    max-width:120px ;
}

.news .category #news {
    padding: 0 20px 0 35px;
    border: 2px solid #87ceeb;
    color: #87ceeb;
}

.news .category #pickup {
    padding: 0 20px 0 30px;
    border: 2px solid #900090;
    color: #900090;
}

.news .date {
    margin-left: 50px;
    font-size: 15px;
}

.news .title {
    cursor: pointer;
    padding: 0 0 0 30px;
    font-size: 15px;
}

@media screen and (max-width: 768px){
    .news .title {
        margin-left: 0;
        padding: 10px 0 0 25px;
        font-size: 13px;
    }
}

.news .accordion_title {
    cursor: pointer;
    padding: 0 0 0 30px;
    font-size: 15px;
}

@media screen and (max-width: 768px){
    .news .accordion_title {
        margin-left: 0;
        padding: 10px 0 0 25px;
        font-size: 13px;
    }
}

.news .accordion_title::before,
.news .accordion_title::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 2px;
    background-color: #333;
}

@media screen and (max-width: 768px){
    .news .accordion_title::before,
    .news .accordion_title::after {
        width: 13px;
    }
}

.news .accordion_title::before{
    top: 50%;
    right:2%;
    transform: rotate(0deg);
    transition: .5s;
}

@media screen and (max-width: 768px){
    .news .accordion_title::before {
        right: 5%;
    }
}

.news .accordion_title::after {
    top: 50%;
    right: 2%;
    transform: rotate(90deg);
    transition: .5s;
}

@media screen and (max-width: 768px){
    .news .accordion_title::after {
        right: 5%;
    }
}

.news .accordion_title.active::before{
    top: 50%;
    right: 2%;
    transform: rotate(0deg);
}

@media screen and (max-width: 768px){
    .news .accordion_title.active::before {
        right: 5%;
    }
}

.news .accordion_title.active::after {
    top: 50%;
    right: 2%;
    transform: rotate(180deg);
}


@media screen and (max-width: 768px){
    .news .accordion_title.active::after {
        right: 5%;
    }
}

.news .title::after {
    position: absolute;
    content: '>';
    font-size: 25px;
    top: 28%;
    right:2%;
}

@media screen and (max-width: 768px){
    .news .title::after {
        font-size: 15px;
        top: 48%;
        right: 5%;
    }
}

.js-box {
    max-height: 0;
    background-color:rgba(300, 200, 176, 0.2);
    padding: 0 50px;
    transition: max-height .7s, padding .7s; 
    overflow: hidden;
}

.js-box.active {
    width: 100%;
    max-height: 500px;
    opacity: 1;    
    padding: 50px;
    background-color:rgba(300, 200, 176, 0.2);
    transition: max-height .7s, padding .7s;
}

.js-box .accordion_image  {
    width: 100%;
    max-width: 500px;
    margin: auto;
    height: auto;
    text-align: center;
    padding-bottom: 50px;
}

.accordion_text p {
    font-weight: bold;
}

.about {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    transition: .3s linear; 
}

.about .detail:hover {
    opacity: .5;
    scale: 105%;
    height: auto;
}

.about .about_contents {
    display: flex;
    height: 370px;
    background-color:rgba(300, 200, 176, 0.2);
}

@media screen and (max-width: 768px){
     .about .about_contents {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}

.about .content_image {
    width: 100%;
    height: auto;
}

.about .content_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .item_image {
    padding: 60px;
    max-width: 600px;
    width: 100%;
}

@media screen and (max-width: 768px){
    .about .item_image {
        padding: 50px 20px;
        width: 100%;
        max-width: 768px;
        height: auto;
    }
}

.about .item_image .about_contents_item {
    line-height: 35px
}

.about .item_image img{
    width: 100%;
    height: auto;
}

.about .heading {
    font-size: 25px;
    text-align: center
}

.about .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.about .detail {
    position: absolute;
    bottom: -2.5%;
    right: 15%;
}

@media screen and (max-width: 768px){
    .about .detail{
       right: 30%;
   }
}

.about .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.about .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.products {
    opacity: 0;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    transition: 0.5s linear;
}

.products.fadein {
    opacity: 1;
}

.products .heading {
    font-size: 25px;
    text-align: center
}

.products .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.products .product_contents {
    display: flex;
    height: 370px;
    background-color:rgba(300, 200, 176, 0.2);
}

@media screen and (max-width: 768px){
    .products .product_contents {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}

.products .content_image {
    width: 100%;
    height: 370px;
    order: 2;
}

@media screen and (max-width: 768px){
    .products .content_image {
        order: 1;
    }
}


.products .content_image img{
    width: 100%;
    height:370px;
    object-fit: cover;
}

.products .product_contents_item {
    order: 1;
    width: 100%;
    max-width: 600px;
    height: auto;
    line-height: 35px;
    padding: 80px;
}

@media screen and (max-width: 768px){
    .products .product_contents_item {
        width: 100%;
        max-width: 768px;
        padding: 50px 20px;
    }
}

.products .detail {
    position: absolute;
    bottom: -2.5%;
    left: 15%;
}

@media screen and (max-width: 768px){
   .products .detail {
        left: 30%;
   }
}

.products .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.products .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.new_products {
    width: 100%;
    height: 900px;
    padding-top:100px ;
    margin-top: 100px;
    background-color:rgba(250, 200, 200, 0.4);
}

.new_products .heading{
    text-align: center;
    font-size: 25px;
}

.new_products .subtitle {
    font-size: 11px;
    padding-top: 10px;
    color: #7f7f7f;
}

.slider {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.slider .slider_contents {
    height: 250px;
    margin: 0 auto;
}

.slider .slider_body {
    margin-top: 100px;
    color: #000;
    text-align: center;
    max-width: 500px;
}

.slider .slider_item {
    position: relative;
    background-color: #fff;
    height: 500px;
}

.slider .slider_item img {
    height: 200px;
    width: 100%;
}

.slider .slider_item .heading {
    font-weight: bold;
    padding: 20px 0;
    font-size: 19px;
}

.slider .slider_item .subtitle {
    font-size: 14px;
    font-weight: lighter;
    padding:  10px 0;
    color: #8f8f8f;
}

.slider .slider_item .item {
    padding: 10px;
    font-size: 16px;
}

.slider .slider_item .hashtag {
    font-size: 14px;
    color: #d87099;
    text-align: left;
    padding-top: 20px;
}

.slider_item .new_tab {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 120px;
    padding: 5px 0;
    color: #fff;
    background-color: #d87099;
}

.slider .button {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    max-width: 430px;
}
  

.slider .swiper-pagination-bullet {
    height: 4px;
    width: 40px;
    border-radius: 0%;
    background-color: #555;
}

.history {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.history .heading {
    font-size: 25px;
    text-align: center
}

.history .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.history .history_contents {
    display: flex;
    height: 370px;
    background-color:rgba(300, 200, 176, 0.2);
}

@media screen and (max-width: 768px){
    .history .history_contents {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}

.history .contents_image {
    width: 100%;
    max-width: 600px;
    height: 370px;
    order: 1;
}


.history .content_image img{
    width: 100%;
    height:370px;
    object-fit: cover;
}

.history .history_contents_item {
    order: 2;
    width: 100%;
    max-width: 600px;
    height: auto;
    line-height: 35px;
    padding: 80px;
}

@media screen and (max-width: 768px){
   .history .history_contents_item {
        width: 100%;
        max-width: 768px;
        padding: 50px 20px;
   }
}

.history .detail {
    position: absolute;
    bottom: -2.5%;
    right: 15%;
}

@media screen and (max-width: 768px){
   .history .detail {
        right: 30%;
   }
}

.history .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.history .detail p:hover{
    opacity: .5;
}

.history .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.factory {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.factory .heading {
    font-size: 25px;
    text-align: center
}

.factory .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.factory .factory_contents {
    display: flex;
    height: 370px;
    background-color:rgba(300, 200, 176, 0.2);
}

@media screen and (max-width: 768px){
   .factory .factory_contents {
        flex-direction: column;
        width: 100%;
        height: auto;
   }
}

.factory .content_image {
    width: 100%;
    max-width: 600px;
    height: 370px;
    order: 2;
}

@media screen and (max-width: 768px){
   .factory .content_image {
        width: 100%;
        max-width: 768px;
        order: 1;
    }
}

.factory .content_image img{
    width: 100%;
    height:370px;
    object-fit: cover;
}

.factory .factory_contents_item {
    order: 1;
    width: 100%;
    max-width: 600px;
    height: auto;
    line-height: 35px;
    padding: 80px;
}

@media screen and (max-width: 768px){
    .factory .factory_contents_item{
        width: 100%;
        max-width: 768px;
        padding: 50px 20px;
    }
}

.factory .detail {
    position: absolute;
    bottom: -2.5%;
    left: 15%;
}

@media screen and (max-width: 768px){
   .factory .detail {
        left: 30%;
   }
}

.factory .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.factory .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.recycle {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.recycle .heading {
    font-size: 25px;
    text-align: center
}

.recycle .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.recycle .recycle_contents {
    display: flex;
    height: 370px;
    background-color:rgba(300, 200, 176, 0.2);
}

@media screen and (max-width: 768px){
   .recycle .recycle_contents {
        flex-direction: column;
        height: auto;
        width: 100%;
   }
}

.recycle .content_image {
    width: 100%;
    max-width: 600px;
    height: 370px;
    order: 1;
}

@media screen and (max-width: 768px){
   .recycle .content_image {
        width: 100%;
        max-width: 768px;
    }
}


.recycle .content_image img{
    width: 100%;
    height:370px;
    object-fit: cover;
}

.recycle .recycle_contents_item {
    order: 2;
    width: 100%;
    max-width: 600px;
    height: auto;
    line-height: 35px;
    padding: 80px;
}

@media screen and (max-width: 768px){
   .recycle .recycle_contents_item {
        width: 100%;
        max-width: 768px;
        padding: 50px 20px;
   }
}

.recycle .detail {
    position: absolute;
    bottom: -2.5%;
    right: 15%;
}

@media screen and (max-width: 768px){
   .recycle .detail {
        right: 30%;
    }
}

.recycle .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.recycle .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.glass {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.glass .heading {
    font-size: 25px;
    text-align: center
}

.glass .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.glass .glass_contents {
    display: flex;
    height: 370px;
    background-color:rgba(300, 200, 176, 0.2);
}

@media screen and (max-width: 768px){
   .glass .glass_contents {
        flex-direction: column;
        width: 100%;
        height: auto;
   }
}

.glass .content_image {
    width: 100%;
    max-width: 600px;
    height: 370px;
    order: 2;
}

@media screen and (max-width: 768px){
   .glass .content_image {
        width: 100%;
        max-width: 768px;
        order: 1;
   }
}

.glass .content_image img{
    width: 100%;
    height:370px;
    object-fit: cover;
}

.glass .glass_contents_item {
    order: 1;
    width: 100%;
    max-width: 600px;
    height: auto;
    line-height: 35px;
    padding: 80px;
}

@media screen and (max-width: 768px){
   .glass .glass_contents_item {
        width: 100%;
        max-width: 768px;
        padding: 50px 20px;
   }
}

.glass .detail {
    position: absolute;
    bottom: -2.5%;
    left: 15%;
}

@media screen and (max-width: 768px){
   .glass .detail {
        left: 30%;
   }
}

.glass .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.glass .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.more_about {
    position: relative;
    width: 100%;
    height: 650px;
    background-color:rgba(300, 200, 176, 0.2);
    margin-top: 100px;
    padding-top: 50px;
}

.more_about .heading{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.more_about .subtitle {
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 40px;
    color: #7f7f7f;
}

.more_about_slider {
    overflow: hidden;
}

.more_about_slider .more_about_slider_item:hover {
    opacity: .5;
    transition: .2s linear;
}

.more_about_slider .more_about_slider_body {
    text-align: center;
}


.more_about_slider .more_about_slider_item {
    background-color: #fff;
    height: 310px;
}

.more_about_slider .more_about_slider_item img {
    width: 100%;
    height: 250px;
}

.more_about_slider .content_body {
    font-size: 20px;
    font-weight: bold;
    padding: 7px 0;
}

.more_about_slider .swiper-pagination-bullet {
    height: 4px;
    width: 40px;
    border-radius: 0%;
    background-color: #555;
}

footer {
    color: #000;
    background-color:rgba(300, 200, 176, 0.2);
    margin-top:100px;
}

.footer {
    width: 100%;
    margin: auto;
    padding-top: 120px;
}

@media screen and (max-width:768px){
    .footer {
        padding-top: 0;
    }
}

.footer .heading {
    text-align: center;
    width: 100%;
    height: auto;
}

@media screen and (max-width:768px){
    .footer .heading{
        display: none;
    }
}

.footer .heading img {
    width: 100%;
    max-width: 130px;
}

.footer .foot_contents {
    display: flex;
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: auto;
    padding-top: 50px;
}


@media screen and (max-width: 768px){
    .footer .foot_contents {
        flex-direction: column;
        width: 100%;
        max-width: 768px;
        margin: 50px 0;
        padding: 0;
        border-top:3px solid #fff ;
    }
}

.footer .foot_contents .contents_item {
    width: 100%;
    padding-left: 20px;
    max-width: 250px;
}

@media screen and (max-width: 768px){
    .footer .foot_contents .contents_item{
        width: 100%;
        padding: 0;
        max-width: 768px;
    }
}

.footer .foot_contents .title {
    position: relative;
}

@media screen and (max-width: 768px){
    .footer .foot_contents .title {
        padding: 15px;
        border-bottom: 3px solid#fff;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_title::before,
    .footer .foot_contents .js_box_title::after{
        position: absolute;
        content: '';
        width: 13px;
        height: 2px;
        background-color: #333;
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_title::before {
        top: 50%;
        right:5%;
        transform: rotate(0deg);
        transition: .5s;
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_title::after {
        top: 50%;
        right: 5%;
        transform: rotate(90deg);
        transition: .5s;
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_title.active::before {
        top: 50%;
        right: 5%;
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_title.active::after {
        top: 50%;
        right: 5%;
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 768px){
    .footer .title::after {
        position: absolute;
        content: '>';
        font-size: 20px;
        top: 28%;
        right:5%;
    }
}


.footer .foot_contents .title:hover {
    opacity: .5;
}

.footer .contents_item #information {
    padding-left: 50px;
}

@media screen and (max-width: 768px){
    .footer .contents_item #information {
        padding-left: 0px;
    }
}

.footer .foot_contents .list {
    padding: 10px;
}

@media screen and (max-width: 768px){
    .footer .foot_contents .list {
        max-height: 0;
        overflow: hidden;
        transition: .3s linear;
        background-color: #fff;
        padding: 0;
    }
}

@media screen and (max-width: 768px){
    .footer .foot_contents .js_box_list.active {
        max-height: 400px;
        opacity: 1;    
        transition: .5s linear;
    }
}

.footer .foot_contents .list li {
    list-style: square;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    .footer .foot_contents .list li{
        list-style: none;
        padding: 5px 25px;
        border-bottom: 3px solid #f5f5dc;
        font-size: 13px;
    }
}

.footer .foot_contents .list .no_mark {
    list-style: none;
    position: relative;
    padding-top: 5px;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    footer .foot_contents .list .no_mark{
        padding-top: 0;
    }
}

footer .foot_contents .list li:hover {
    opacity: .5;
}

footer .foot_contents .list p:hover {
    opacity: .5;
}

footer .foot_contents .list p::before {
    content: ">";
    position: absolute;
    left: -13%;
}

.footer .foot_contents .articles ul {
    padding-top: 10px;
    line-height: 35px;
}

.footer .contents_item .contact #cafe {
    display: none;
}

@media screen and (max-width: 768px){
    .footer .contents_item .contact #cafe{
        display: block;
    }
}

.footer .contents_item .contact li:hover {
    opacity: .5;
}

@media screen and (max-width: 768px){
    .footer .contents_item .contact li{
        position: relative;
        width: 100%;
        max-width: 768px;
        padding: 15px 15px;
        border-bottom:3px solid #fff ;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px){
    .footer .contents_item .contact li::after{
        position: absolute;
        content: '>';
        top: 28%;
        right: 5%;
        font-size:  20px ;
    }
}

@media screen and (max-width: 768px){
    .footer .contents_item .contact #online_shop{
        color: #dc143c;
    }
}

.footer .service {
    width: 100%;
    max-width: 280px;
    height: auto;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer .sns ul {
    display: flex;
}

@media screen and (max-width: 768px){
    .footer .sns{
        margin-left: 70px;
    }
}

.footer .sns li img{
    width: 100%;
    max-width: 35px;
    height: auto;
    margin-left: 7px;
    border-radius: 50%;
}

.footer .sns li img:hover{
    opacity: .5;
}
.footer .cafe {
    margin-top: 5px;
}

@media screen and (max-width: 768px){
    .footer .cafe{
        display: none;
    }
}

.footer .cafe:hover {
    text-decoration: underline;
    opacity: .5;
}

.footer .policy_contents {
    position: relative;
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.footer .policy_contents .site-policy p::after {
    content: "";
    border-right:1px solid #000 ;
    margin-left: 25px;
}

.footer .policy_contents p:hover {
    text-decoration: underline;
    opacity: .5;
}

.footer .copy_right p{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 12px;
    color: #9f9f9f;
}