.background-image {
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url("https://www.hario.com/product/new/HARIO%20outdoor_newproducts.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 40px;
}