.background-image {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url("https://www.hario.com/product/new/HARIO%20outdoor_newproducts.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background-image .content {
    font-size: 18px;
    position: absolute;
    top: 92%;
    left: 45%;
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    color: #fff;
}

.background-image .content .scroll::after {
    display: block;
    content: 'V';
    color: #fff;
    text-align: center;
}

.background-image .content .play::after {
    display: block;
    content: '';
    width: 115px;
    margin-top: 5px;
    border: #fff solid 0.1px;
}

header {
    border-bottom:1px solid #9f9f9f;
}


.navigation.fixed {
    width: 100%;
    height: 71px;
    background-color: #fff;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #7f7f7f;
}

.header {
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: auto;
    padding: 20px 0;
    background-color: #fff;
}

.header nav {
    position: relative;
}

.header .logo img {
    width: 120px;
}

.header .content {
    display: flex;
    width: 100%;
}

.header .content .element {
    display: flex;
    padding-left: 40px;
}

.header .content .tab-wrapper {
    padding-right: 40px;
    cursor: pointer;
}

.header .content .tab-wrapper h2::after{
    content: 'v';
    color: #7f7f7f;
    margin-left: 5px;
}

.header .content .item .online-shop {
    color: #dc143c;
}

.header .tab-item .title {
    cursor: pointer;
}


.header .tab-item .title h2:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.5;
}

.js-hidden li {
    margin-left: 40px;
    font-size: 15px;
}

.js-hidden li:hover {
    text-decoration: underline;
    opacity: .5;
} 

.js-hidden {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 51px;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    transition: .3s linear;
    background-color: #fff;
}

.tab-wrapper .js-hidden.selected {
    padding: 20px 0;
    max-height: 200px;
    background-color: #fff;
    width: 100%;
}


.header .content .help ul{
    display: flex;
    font-size: 12px;
    padding-left: 40px;
}

.header .content .help li{
    padding-left: 20px;
}

.news {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 120px;
    border-bottom: 1px solid #7f7f7f;
}

.news .heading {
    font-size: 30px;
    text-align: center;
}

.news .sarch-area {
    margin-bottom: 40px;
}

.news .sarch-area ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
}

.news .sarch-area li {
    margin: 0 30px;
    font-size: 15px;
}

.news .sarch-area li:hover {
    opacity: .5;
}

.news .sarch-area #all {
    border: 2px solid #9f9f9f;
    padding: 0 30px;
    color: #7f7f7f;
}

.news .sarch-area #all.clicked {
    background-color: #7f7f7f;
    color: #fff;
}

.news .sarch-area #news {
    border: 2px solid #87ceeb;
    padding: 0 30px;
    color: #87ceeb;
}

.news .sarch-area #news.clicked {
    background-color: #87ceeb;
    color: #fff;
}

.news .sarch-area #pickup {
    border: 2px solid #900090;
    padding: 0 30px;
    color: #900090;
}

.news .articles {
    display: flex;
    padding: 20px 0;
    border-top:solid 1px #7f7f7f;
}

.news .category {
    margin-left: 20px;
    width: 100%;
    max-width:120px ;
}

.news .category #news {
    padding: 0 20px 0 35px;
    border: 1px solid #87ceeb;
    color: #87ceeb;
}

.news .category #pickup {
    padding: 0 20px 0 30px;
    border: 1px solid #900090;
    color: #900090;
}

.news .date {
    margin-left: 50px;
    font-size: 15px;
}

.news .title {
    position: relative;
    cursor: pointer;
    margin-left: 50px;
    padding: 0 0 0 50px;
    font-size: 15px;
}

.news .js-title {
    position: relative;
    cursor: pointer;
    margin-left: 50px;
    padding: 0 0 0 50px;
    font-size: 15px;
}

.news .js-title::before,
.news .js-title::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #333;
}

.news .js-title::before{
    top: 48%;
    left: 15px;
    transform: rotate(0deg);
    transition: .5s;
}

.news .js-title::after {
    top: 48%;
    left: 15px;
    transform: rotate(90deg);
    transition: .5s;
}

.news .js-title.active::before{
    top: 48%;
    left: 15px;
    transform: rotate(0deg);
}

.news .js-title.active::after {
    top: 48%;
    left: 15px;
    transform: rotate(180deg);
}

.js-box {
    max-height: 0;
    background-color:rgba(300, 200, 176, 0.2);
    padding: 0 50px;
    transition: max-height .7s, padding .7s; 
    overflow: hidden;
}

.js-box.active {
    width: 100%;
    max-height: 500px;
    opacity: 1;    
    padding: 50px;
    background-color:rgba(300, 200, 176, 0.2);
    transition: max-height .7s, padding .7s;
}

.js-box .js-image  {
    width: 100%;
    max-width: 500px;
    margin: auto;
    height: auto;
    text-align: center;
    padding-bottom: 50px;
}

.box .js-text p {
    font-weight: bold;
}

.about {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    transition: .3s linear; 
}

.about .detail:hover {
    opacity: .5;
    scale: 105%;
    height: auto;
}

.about .content {
    display: flex;
    background-color:rgba(300, 200, 176, 0.2);
}

.about .content-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.about .content-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .item-image {
    padding: 60px;
    max-width: 600px;
    width: 100%;
}

.about .item-image .item {
    line-height: 35px
}

.about .item-image img{
    width: 100%;
    height: auto;
}

.about .heading {
    font-size: 25px;
    text-align: center
}

.about .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.about .detail {
    position: absolute;
    bottom: -2.5%;
    right: 15%;
}

.about .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.about .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.products {
    opacity: 0;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    transition: 0.5s linear;
}

.products.fadein {
    opacity: 1;
}

.products .heading {
    font-size: 25px;
    text-align: center
}

.products .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.products .content {
    display: flex;
    background-color:rgba(300, 200, 176, 0.2);
}

.products .content-image {
    width: 100%;
    max-width: 600px;
    height: 370px;
    order: 2;
}


.products .content-image img{
    width: 100%;
    height:370px;
    object-fit: cover;
}

.products .content .item {
    order: 1;
    width: 100%;
    max-width: 600px;
    height: auto;
    line-height: 35px;
    padding: 80px;
}

.products .detail {
    position: absolute;
    bottom: -2.5%;
    left: 15%;
}

.products .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.products .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.js-new-products {
    width: 100%;
    height: 900px;
    padding-top:100px ;
    margin-top: 100px;
    background-color:rgba(250, 200, 200, 0.4);
}

.js-new-products .heading{
    text-align: center;
    font-size: 25px;
}

.js-new-products .subtitle {
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 80px;
    color: #7f7f7f;
}

.js-swiper1 {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.swiper-slide .heading p{
    text-align: center;
    font-size: 20px;
}

.swiper-slide .subtitle p{
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #7f7f7f;
}

.slider {
    display: flex;
}

.swiper-slide .content {
    position: relative;
    background-color: #fff;
    margin-bottom: 100px;
    height: 450px;
}


.swiper-slide .content-image img {
    width: 100%;
    height: 190px;
}

.swiper-slide .heading {
    font-size: 17px;
    padding:10px 0;
    font-weight: bold;
    height: 75px;
}

.swiper-slide .subtitle {
    padding: 10px 0;
}

.swiper-slide .item p{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.swiper-slide .hashtag {
    font-size: 13px;
    align-items: flex-end;
    color: #d87093;
}

.swiper-slide .content .new-tab {
    position: absolute;
    top: 0;
    background-color:#d87093;
    color: #fff;
    width: 100%;
    max-width: 120px;
}

.content .new-tab p{
    padding: 5px 0;
    text-align: center;
}

.js-swiper1 .button {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    max-width: 430px;
}

.js-swiper1 .swiper-pagination-bullet {
    height: 4px;
    width: 40px;
    border-radius: 0%;
    background-color: #555;
}

.history {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.history .heading {
    font-size: 25px;
    text-align: center
}

.history .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.history .content {
    display: flex;
    background-color:rgba(300, 200, 176, 0.2);
}

.history .content-image {
    width: 100%;
    max-width: 600px;
    height: 370px;
    order: 1;
}


.history .content-image img{
    width: 100%;
    height:370px;
    object-fit: cover;
}

.history .content .item {
    order: 2;
    width: 100%;
    max-width: 600px;
    height: auto;
    line-height: 35px;
    padding: 80px;
}

.history .detail {
    position: absolute;
    bottom: -2.5%;
    right: 15%;
}

.history .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.history .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.factory {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.factory .heading {
    font-size: 25px;
    text-align: center
}

.factory .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.factory .content {
    display: flex;
    background-color:rgba(300, 200, 176, 0.2);
}

.factory .content-image {
    width: 100%;
    max-width: 600px;
    height: 370px;
    order: 2;
}


.factory .content-image img{
    width: 100%;
    height:370px;
    object-fit: cover;
}

.factory .content .item {
    order: 1;
    width: 100%;
    max-width: 600px;
    height: auto;
    line-height: 35px;
    padding: 80px;
}

.factory .detail {
    position: absolute;
    bottom: -2.5%;
    left: 15%;
}

.factory .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.factory .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.recycle {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.recycle .heading {
    font-size: 25px;
    text-align: center
}

.recycle .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.recycle .content {
    display: flex;
    background-color:rgba(300, 200, 176, 0.2);
}

.recycle .content-image {
    width: 100%;
    max-width: 600px;
    height: 370px;
    order: 1;
}


.recycle .content-image img{
    width: 100%;
    height:370px;
    object-fit: cover;
}

.recycle .content .item {
    order: 2;
    width: 100%;
    max-width: 600px;
    height: auto;
    line-height: 35px;
    padding: 80px;
}

.recycle .detail {
    position: absolute;
    bottom: -2.5%;
    right: 15%;
}

.recycle .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.recycle .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.glass {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.glass .heading {
    font-size: 25px;
    text-align: center
}

.glass .heading .subtitle {
    font-size: 12px;
    padding: 10px 0 30px 0;
    color: #9f9f9f;
}

.glass .content {
    display: flex;
    background-color:rgba(300, 200, 176, 0.2);
}

.glass .content-image {
    width: 100%;
    max-width: 600px;
    height: 370px;
    order: 2;
}

.glass .content-image img{
    width: 100%;
    height:370px;
    object-fit: cover;
}

.glass .content .item {
    order: 1;
    width: 100%;
    max-width: 600px;
    height: auto;
    line-height: 35px;
    padding: 80px;
}

.glass .detail {
    position: absolute;
    bottom: -2.5%;
    left: 15%;
}

.glass .detail p{
    padding: 10px 0 10px 90px;
    background-color: #fff;
    border: 1px solid #000;
}

.glass .detail p::after {
    content: '>';
    color: #7f7f7f;
    margin-left: 80px;
    padding-right: 20px;
}

.js-more-about {
    position: relative;
    width: 100%;
    height: 650px;
    background-color:rgba(300, 200, 176, 0.2);
    margin-top: 100px;
    padding-top: 50px;
}

.js-more-about .heading{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.js-more-about .subtitle {
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 40px;
    color: #7f7f7f;
}

.js-swiper2 {
    overflow: hidden;
}

.js-swiper2 .content:hover {
    opacity: .5;
    transition: .2s linear;
}

.js-swiper2 .swiper-slide {
    text-align: center;
}


.js-swiper2 .content {
    background-color: #fff;
    height: 310px;
}

.js-swiper2 .content img {
    width: 100%;
    height: 250px;
}

.js-swiper2 .content .heading {
    font-size: 20px;
    font-weight: bold;
    padding: 7px 0;
}

.js-swiper2 .swiper-pagination-bullet {
    height: 4px;
    width: 40px;
    border-radius: 0%;
    background-color: #555;
}

footer {
    color: #000;
    background-color:rgba(300, 200, 176, 0.2);
    margin-top:100px;
}

.footer {
    width: 100%;
    margin: auto;
    padding-top: 120px;
}

.footer .heading {
    text-align: center;
    width: 100%;
    height: auto;
}

.footer .heading img {
    width: 100%;
    max-width: 130px;
}

.footer .content {
    display: flex;
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: auto;
    padding-top: 50px;
}

.footer .content .articles {
    width: 100%;
    max-width: 250px;
}

.footer .content .title:hover {
    opacity: .5;
}

.footer .content .articles #information {
    padding-left: 50px;
}

.footer .content .list {
    padding: 10px;
}

.footer .content .list li {
    list-style: square;
    margin-left: 10px;
    line-height: 30px;
}

footer .content .list p {
    position: relative;
    margin-left: 10px;
    line-height: 30px;
}

footer .content .list li:hover {
    opacity: .5;
}

footer .content .list p:hover {
    opacity: .5;
}

footer .content .list p::before {
    content: ">";
    position: absolute;
    left: -7%;
}

.footer .content .articles ul {
    padding-top: 10px;
    line-height: 35px;
}

.footer .service {
    width: 100%;
    max-width: 280px;
    height: auto;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer .sns ul {
    display: flex;
}

.footer .sns li img{
    width: 100%;
    max-width: 35px;
    height: auto;
    margin-left: 7px;
    border-radius: 50%;
}

.footer .sns li img:hover{
    opacity: .5;
}
.footer .cafe {
    margin-top: 5px;
}

.footer .cafe:hover {
    text-decoration: underline;
    opacity: .5;
}

.footer .policy {
    position: relative;
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.footer .policy .site-policy p::after {
    content: "";
    border-right:1px solid #000 ;
    margin-left: 25px;
}

.footer .policy p:hover {
    text-decoration: underline;
    opacity: .5;
}

.footer .copy-right p{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 12px;
    color: #9f9f9f;
}
